.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.container .title {
  margin: 0 !important;
}

.container .title:hover {
  color: var(--primary-color);
  cursor: pointer;
}
