.container {
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 var(--s);
}
.container.l {
  max-width: none;
  margin: 0 auto;
}
.container.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 var(--m);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 var(--l);
  }
}
