.card {
  padding: calc(var(--l) / 2) var(--m);
  border: var(--border-form);
  display: block;
  background: var(--form-background-color);
  border-radius: var(--rm);
  color: var(--text-body-color);
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
.title-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card.fold:hover {
  background: var(--primary-color);
  color: var(--on-primary-color);
  cursor: pointer;
}
.card .title {
  margin-left: 6px;
  font-weight: 700;
  color: var(--text-body-color);
  font-size: var(--font-size-small);
  border: none;
  background: transparent;
  height: fit-content;
  vertical-align: text-top;
  line-height: 1;
  width: calc(100% - 42px);
}
.card .title-container .folder {
  justify-self: flex-end;
  margin-left: auto;
  cursor: pointer;
}
.card .title.input {
  font-weight: 500;
  height: content-box;
  border-bottom: var(--border-form);
}
.card.fold:hover .title {
  color: var(--on-primary-color);
}
.card.fold:hover svg,
.card.fold:hover .icon {
  fill: var(--on-primary-color);
  color: var(--on-primary-color);
}
.content {
  margin-top: var(--s);
}

.content .prev-container {
  cursor: pointer;
}
