.card {
  padding: calc(var(--l) / 4) var(--s);
  display: block;
  background: var(--form-background-color);
  border-radius: var(--rm);
  color: var(--text-body-color);
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}

.title-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card.fold:hover {
  background: var(--primary-color);
  color: var(--on-primary-color);
  cursor: pointer;
}
.card.unfold {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow: auto;
  background: var(--bg-overlay);
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: 0s;
}

.card.unfold .inner-container {
  background: var(--background-color);
  width: 90%;
  max-width: 800px;
  padding: var(--m);
  border-radius: var(--rl);
  max-height: 80vh;
  transition: 0s;
}

.card.unfold .inner-container .content {
  overflow-y: auto;
  max-height: calc(100% - 30px);
  opacity: 1;
  height: auto;
  transition: 0.3s;
  margin-top: var(--m);
}

.card.unfold .inner-container label {
  margin: 0;
  width: 100%;
  display: block;
}

.card .title {
  margin-left: 6px;
  font-weight: 700;
  color: var(--text-body-color);
  font-size: var(--font-size-small);
  border: none;
  background: transparent;
  vertical-align: text-top;
  width: calc(100% - 42px);
  margin-bottom: 0;
}
.card.unfold .title {
  font-size: var(--body-font);
}
.card input {
  font-weight: 500;
  border-bottom: var(--border-form) !important ;
  color: var(--text-body-color);
  width: 100%;
}

.card .title-container .folder {
  justify-self: flex-end;
  margin-left: auto;
  cursor: pointer;
}

.card.fold:hover .title {
  color: var(--on-primary-color);
}
.card.fold .icon {
  color: var(--icon-color);
}
.card.fold:hover svg,
.card.fold:hover .icon {
  fill: var(--on-primary-color);
  color: var(--on-primary-color);
}

.content {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.content .prev-container {
  cursor: pointer;
}

p.error {
  font-size: 0.6rem;
  color: var(--text-error);
}

.card.unfold .img-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 50vh;
  width: 50vw;
  padding: var(--l);
  background: var(--background-color);
  z-index: 5;
}
.card.unfold .img-container h5 {
  margin-top: 0;
}

.card.unfold .img-container img {
  max-width: 90%;
  max-height: 90%;
}
.card.unfold .img-container .delete {
  position: absolute;
  top: var(--m);
  right: var(--m);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.url-box {
  display: inline-flex;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0 0 var(--l);
  padding: calc(var(--s) / 1.5) var(--s);
  background: var(--form-background-color);
  border-radius: var(--rm);
  align-items: center;
  justify-content: center;
}
.url-box img {
  margin-right: var(--s);
}

.external-link {
  margin-left: calc(var(--s) / 2);
  vertical-align: top;
}
