header.header {
  display: flex;
  padding: var(--s) 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--l);
}
.header .logo {
  font-size: var(--font-size-big);
  text-decoration: none;
  color: var(--text-body-color);
}
.header .user {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Caveat, cursive;
  margin: 0 var(--l) 0 0;
  align-items: center;
  display: inline-flex;
}
section {
  display: flex;
  justify-content: space-between;
}

section * {
  margin-left: var(--s);
}

.create-board-form {
  display: flex;
}

h2.mtno {
  margin-top: 0;
}

.data {
  padding: var(--l);
  width: 100%;
}
.data p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.data .external-login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--l) 0 0 0;
  font-weight: bold;
}
.data .external-login img {
  margin-left: var(--s);
}
.data .external-login a {
  filter: saturate(0);
  opacity: 0.3;
}
.data .external-login a:hover {
  filter: saturate(100%);
  opacity: 1;
}

/*Buton Área*/
button span {
  margin-left: 0;
}

.buttons-area button {
  padding: 0;
}

.buttons-area button span {
  display: none;
}
.new-board-zone {
  display: none;
}
svg[data-icon='cog']:hover {
  animation: Rotate linear;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
svg[data-icon='sign-out-alt']:hover {
  animation: Fade linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 768px) {
  .buttons-area button span {
    display: flex;
    margin-left: 0;
  }
  .new-board-zone {
    display: flex;
  }
  .logo-area * {
    margin: 0;
  }
  .buttons-area button {
    padding: var(--s);
  }
}
/*Logo área*/
.logo-area * {
  margin: 0;
}
.logo-area svg {
  margin-left: var(--s);
}

.logo-area svg[data-icon='sun'] {
  animation: Rotate linear;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}

.logo-area svg[data-icon='moon'] {
  animation: Shine linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes Rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes Fade {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(16px);
    opacity: 0.25;
  }
}

@keyframes Shine {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
