header.header {
  display: flex;
  padding: var(--s) var(--l);
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--l);
}
.header .logo {
  font-size: var(--font-size-big);
}
