.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 64px);
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 small {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 calc(var(--s) * -1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
h1 small span {
  font-size: 0.6rem;
  position: relative;
  bottom: -2px;
  color: var(--text-body-color);
}
h1 strong {
  font-size: 500%;
  font-family: Caveat, sans-serif;
  font-weight: normal;
}
.home-page {
  text-align: center;
  line-height: 1.4;
}

h2 {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 60%;
  font-weight: 500;
}

h2 strong {
  font-size: 1.2rem;
}

ul.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  max-width: 50%;
  margin: 0 auto var(--l);
}

body .home-page ul.icons li svg {
  width: 16px;
  height: 16px;
  max-width: none;
  animation: hueRotate linear;
  animation-duration: 14s;
  animation-iteration-count: infinite;
}

body .home-page ul.icons li:nth-child(2) svg {
  animation-duration: 10s;
  animation-delay: 2s;
}
body .home-page ul.icons li:nth-child(3) svg {
  animation-duration: 8s;
  animation-delay: 5s;
}
body .home-page ul.icons li:nth-child(4) svg {
  animation-duration: 16s;
  animation-delay: 1s;
}

.button-container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  width: 300px;
}

.button-container button {
  justify-content: center;
  font-size: 130%;
  margin-bottom: var(--s);
  padding: 0;
}

.button-container p {
  font-size: 0.7rem;
}
.button-container p a {
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 768px) {
  body .home-page ul.icons li svg {
    width: 30px;
    height: 30px;
  }
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-500deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
