.shadow-box {
  border: var(--rm);
  padding: var(--m);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadow-box.medium {
  max-width: 600px;
  margin: auto;
}
.shadow-box.small {
  max-width: 400px;
  margin: auto;
}
.shadow-box.small .btn {
  width: 100%;
}
