ul.board-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc((var(--m) * (-1)));
}
ul.board-list li {
  position: relative;
  padding: 0;
  margin: var(--m);
}

ul.board-list li a {
  text-decoration: none;
  color: var(--text-body-color);
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--m);
  font-weight: 600;
  border: var(--border-form);
  border-radius: var(--rm);
  background: var(--form-background-color);
}

ul.board-list li a:hover {
  background: var(--primary-color);
  color: var(--on-primary-color);
}

ul.lists-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 200px);
  width: 100%;
  overflow-x: auto;
  padding: var(--s) var(--l);
  margin-left: calc((var(--l) * (-1)));
  min-height: 40vh;
}
ul.lists-container > li {
  position: relative;
  margin-right: 20px;
}

ul.board-list li .delete,
ul.lists-container .delete {
  position: absolute;
  top: 3px;
  right: 3px;
  opacity: 0;
  transition: var(--transition-fast);
  color: var(--on-total-color);
  z-index: 2;
}

ul.board-list li:hover .delete,
ul.lists-container li:hover .delete {
  cursor: pointer;
  opacity: 0.4;
}
ul.board-list li .delete:hover,
ul.lists-container li .delete:hover {
  opacity: 1;
}

.new-list {
  margin-top: var(--l);
}
.new-list span {
  display: block;
  min-width: 150px;
  font-weight: bold;
  word-break: keep-all;
}

@media screen and (min-width: 768px) {
  ul.lists-container {
    align-items: flex-start;
    height: auto;
  }
}

/*share*/
.board-name {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.board-name svg {
  margin-left: var(--s);
}
.copied-text {
  background: var(--form-background-color);
  width: 100%;
  resize: none;
  height: 100px;
  color: var(--text-body-color);
  margin-bottom: var(--s);
}
