@import 'reset.css';
@import 'theme.css';
@import 'typography.css';

body {
  margin: 0;
  font-family: var(--body-font);
  color: var(--text-body-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}
a {
  color: var(--main-color);
}
a:hover {
  color: var(--secondary-color);
}
