@import 'reset.css';
@import 'theme.css';
@import 'typography.css';

body {
  margin: 0;
  font-family: var(--body-font);
  color: var(--text-body-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}
*:focus {
  outline: transparent;
}

/*Mc editor*/
body .rc-md-navigation .button-wrap .button {
  color: var(--primary-color);
}
body .rc-md-navigation .button-wrap .button:hover {
  color: var(--secondary-color);
}
body .rc-md-navigation,
body .rc-md-editor .editor-container .sec-md .input {
  background: var(--background-color);
  color: var(--text-body-color);
}
body .rc-md-editor .editor-container .sec-html .html-wrap {
  background: var(--form-md-background);
}

body .rc-md-navigation {
  border-bottom: var(--border-form);
}

body .custom-html-style code,
body .custom-html-style pre {
  background: #474949;
}
