:root {
  /*Typography*/
  --body-font: 'Spartan';
  --title-font: 'Spartan';
  --base-font-size: 16px;
  --font-size-small: 0.8rem;
  --line-height: 1.6;

  /*Padding*/
  --base-p: 0.25rem;
  --s: calc(var(--base-p) * 2);
  --m: calc(var(--base-p) * 4);
  --l: calc(var(--base-p) * 8);

  /*Radius*/
  --rs: 2px;
  --rm: 4px;
  --rl: 6px;

  /*Form*/

  --border-form-focus: 1px solid #a60146;
  --border-form-error: 1px solid red;
}

.dark-theme {
  --primary-color: #ff016c;
  --on-primary-color: #fff;
  --secondary-color: #a60146;
  --terciary-color: orange;
  --text-body-color: #fff;
  --text-title-color: #fff;
  --text-form-color: #efefef;
  --text-notice-color: #333;
  --label-color: var(--text-notice-color);
  --label-focused-color: #ccc;
  --form-background-color: #46001d;
  --background-color: #000;
  --text-error: #ff0000;
  --form-md-background: #333;
  --form-dark-backgroun: #444;
  --border-form: 1px solid #333;
}
.light-theme {
  /*Colors*/
  --primary-color: #a60146;
  --on-primary-color: #fff;
  --secondary-color: #ff016c;
  --terciary-color: orange;
  --text-body-color: #333;
  --text-title-color: #333;
  --text-form-color: #444;
  --text-notice-color: #777;
  --text-error: #ff0000;
  --label-color: var(--text-notice-color);
  --label-focused-color: #aaa;
  --form-background-color: #fff;
  --background-color: #fff;
  --form-md-background: #fcfcfc;
  --form-dark-background: #ddd;
  --border-form: 1px solid #dddddd;
}
