.label-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
}
.input {
  background: var(--form-background-color);
  border: var(--border-form);
  padding: var(--m);
  font-size: var(--font-size-small);
  font-family: var(--body-font);
  border-radius: var(--rm);
  color: var(--text-form-color);
}
.input:focus {
  border: var(--border-form-focus);
  box-shadow: none;
  outline: none;
}
.label {
  color: var(--label-color);
  position: absolute;
  left: var(--m);
  font-size: var(--font-size-small);
}
.label.focused {
  font-size: 0.52rem;
  top: calc(var(--s) / 2);
  left: var(--m);
  color: var(--label-focused-color);
}
.input.error {
  border: var(--border-form-error);
  color: red;
}
/*Con icono*/
.label-container.with-icon {
  position: relative;
}
.label-container.with-icon svg {
  position: absolute;
  right: var(--m);
  top: var(--m);
}

p.error {
  font-size: 0.6rem;
  color: var(--text-error);
}
