.label-container:not(.checkbox):not(.radio):not(.no-styles) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
}
.input:not(.no-styles) {
  background: var(--form-background-color);
  border: var(--border-form);
  padding: var(--m);
  font-size: var(--font-size-small);
  font-family: var(--body-font);
  border-radius: var(--rm);
  color: var(--text-form-color);
}
.input:focus:not(.no-styles) {
  border: var(--border-form-focus);
  box-shadow: none;
  outline: none;
}
:not(.no-styles) .label-container:not(.checkbox):not(.radio) .label {
  color: var(--label-color);
  position: absolute;
  left: var(--m);
  font-size: var(--font-size-small);
}
:not(.no-styles) .label-container:not(.checkbox):not(.radio) input:focus + .label,
:not(.no-styles) .label-container:not(.checkbox):not(.radio) input:valid:not([value='']) + .label,
:not(.no-styles)
  .label-container:not(.checkbox):not(.radio)
  input:invalid:not([value=''])
  + .label {
  font-size: 0.52rem;
  top: calc(var(--s) / 2);
  left: var(--m);
  color: var(--label-focused-color);
}
:not(.no-styles) .label-container:not(.checkbox):not(.radio) .endSlot {
  position: absolute;
  right: var(--m);
  top: var(--m);
  line-height: 0;
}

p.error {
  font-size: 0.6rem;
  color: var(--text-error);
  margin-bottom: 0;
}

.input:not(:focus):invalid:not(no-styles):not([value='']) {
  border: var(--border-form-error);
  color: var(--text-error);
}

.input:not(:focus):not([value='']):not(no-styles):valid {
  border: var(--border-form-ok);
  color: var(--color-ok);
}

.input.no-styles {
  padding: 0;
  border: none;
  background: transparent;
  font-size: var(--font-size-small);
  font-family: var(--body-font);
}
.input.no-styles .endSlot {
  display: none !important;
}
