.button {
  appearance: none;
  background-color: var(--form-background-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-button-color);
  color: var(--button-text);
  padding: var(--s) var(--m);
  border-radius: var(--rm);
  /*text-transform: uppercase;*/
  font-weight: 600;
  /*letter-spacing: 1px;*/
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button:hover {
  cursor: pointer;
}

.button .button-icon {
  color: var(--button-text);
  fill: var(--button-text);
  margin-right: var(--s);
}
.primary,
.secondary:hover {
  --button-background: var(--background-color);
  --button-text: var(--primary-color);
  --border-button-color: var(--primary-color);
}

.secondary,
.primary:hover {
  --button-background: var(--primary-color);
  --button-text: var(--secondary-color);
  --border-button-color: var(--primary-color);
}

.button.transparent {
  --button-background: transparent;
  --button-text: var(--primary-color);
  --border-button-color: transparent;
}

.button.transparent:hover {
  --button-text: var(--secondary-color);
  /*box-shadow: var(--box-shadow);*/
}

.button.s {
  font-size: 0.6rem;
  padding: var(--s);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.button.l {
  font-size: 1rem;
  padding: calc(var(--m) / 2) var(--l);
}
