.notice.active {
  opacity: 0.8;
  top: 0;
}
.notice {
  top: -200px;
  opacity: 0;
  display: flex;
  margin: 0;
  position: fixed;
  width: 100%;
  padding: var(--m) var(--l);
  background: var(--primary-color);
  color: var(--on-primary-color);
  align-items: center;
  justify-content: center;
  transition: var(--transition-slow);
  left: 0;
  box-sizing: border-box;
  z-index: 10000000;
}
