.icon {
  fill: var(--primary-color);
  color: var(--primary-color);
}
.icon.linkable:hover {
  cursor: pointer;
  fill: var(--secondary-color);
  color: var(--secondary-color);
}
.icon.image,
.icon svg {
  max-width: 24px;
}

.icon svg path {
  fill: var(--text-body-color);
}
