.card-list-container {
  width: 300px;
  padding: calc(var(--l) - var(--s));
  border-radius: var(--rm);
  position: relative;
}

.card-list-container:hover {
  box-shadow: var(--box-shadow);
}

ul.cards > li {
  margin-bottom: var(--s);
  position: relative;
}
ul.cards > li > svg {
  opacity: 0;
  transition: var(--transition-fast);
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  color: var(--on-total-color);
  width: 1.5rem;
  cursor: pointer;
}
ul.cards > li:hover > svg {
  opacity: 1;
}

.new-card-container {
  opacity: 0;
  transition: var(--transition-fast);
  width: 100%;
}

.new-card-container.visible {
  opacity: 1;
  transition: var(--transition-fast);
}

.add-button {
  width: 100%;
}
.new-card-container.with-buttons {
  display: flex;
  justify-content: space-between;
}

.new-card-container.with-buttons .button {
  border: none;
}

.new-card-container .add-button {
  font-weight: bold;
  margin-bottom: 0;
  color: var(--primary-color);
  height: 31px;
}
.list-title {
  font-weight: 600;
  margin-bottom: var(--m);
}
